/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
} */
.Card{
    margin:auto;
    width:40vw;
    border: 10px solid rgba(0, 0, 0, 0.329);
}
.Card:hover{
    cursor:pointer;
    box-shadow: 2rem 2rem 1rem -0.7rem rgba(0,0,0,0.4);/*2rem i.e 20px vertical 2rem horizontal 1rem for blur -.7 for 1-0.7=0.3 visible*/
}
.img{
    height:300px;
}
.img img{
    height:100%;
    width:100%;
}
h2,p{
   text-align:center;
    
}
