.App {
  /* padding: 0;
  margin: 0; */
  text-align: center;
  /* position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%); */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}
.container{
  /* padding: 0;
  margin: 0; */
  width:660px;
  height:660px;
  display:flex;
  flex-direction: column;
  border:10px solid black;
}


/* .App .box:nth-child(2n) {
  background-color: #000;
} */

.row {
  margin:0px;
  display: block;
  /* flex-direction: row; */
  height: 80px;
  width: auto;
}
.App .box {
  /* display: ; */
  display: inline-block;
  width: 80px;
  height: 80px;
  margin:0;
  /* border: 2px solid #000; */
}

/* .box {
  display: inline-block;
} */

