body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 249, 245);
}
#container{
    height:640px;
    width:640px;
    border:10px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    background-color: chocolate;
}

.box{
    background-color: rgb(104, 12, 27);
    width:30px;
    height:30px;
    border:1px solid black;
}
.box:hover{
    opacity: 0.5;
}
.change{
    animation:light 20s infinite;
}
@keyframes light {
     0%{
        background-color: rgb(253,80,0);;
     }
     10%{
        background-color: rgb(253,215,0);;
     }
     20% {
        background-color: rgb(143, 253, 0);
      }
      30% {
        background-color: rgb(0, 253, 156);
      }
      40% {
        background-color: rgb(0, 173, 253);
      }
      50% {
        background-color: rgb(0, 89, 253);
      }
      60% {
        background-color: rgba(141, 32, 184, 0.726);
      }
      70% {
        background-color: rgb(131, 26, 105);
      }
      80% {
        background-color: rgb(173, 0, 253);
      }
      90% {
        background-color: rgb(123, 202, 248);
      }
      100% {
        background-color: rgb(59, 59, 59);
      }
}
