@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.App {
  height:100vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-image:linear-gradient(rgb(156, 156, 236),pink);
}
.form{
  margin-top:50px;
  display:flex;
  justify-content:center;
}
.form input{
  padding:10px;
  margin-right:10px;
}
.weather{
  margin-top:30px;
  text-align:center;
  border-radius: 4px;
  box-shadow:
    rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
    rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
}
.contain{
    /* background-image: url("image/image.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(5px); */
   
}
.weather img{
  width: 30%;
  margin-top:20px;
}
.temp{
  font-size:3rem;
  font-weight: 500;
}
.text{
  font-size:0.8rem;
  font-weight: 500;
}
.place{
  font-size: 1.2rem;
  font-weight:500;
  opacity:0.8;
  margin-bottom: 30px;
}
.whp .title{
  font-size:0.8rem;
}
.data{
  font-size: 1.5rem;
  font-weight: 500;
}
.data .unit{
  font-size:0.8rem;
}
